#hbox {
    -fx-max-height: 100px;
}
#btn {
    -fx-background-color: #5181b8;
    -fx-border-radius: 4px;
    -fx-text-fill: #fff;
    -fx-padding:4px 8px 4px;
    -fx-font-size: 12px;
}

#textField {
    -fx-border-radius: 15;
   /* -fx-pref-width: 170;*/
    -fx-pref-height: 35px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}


.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 3 3 3 3;
}

#bottomPanel {
      -fx-background-image: url("../img/background2.jpg");
      -fx-background-size: 50% 50%;
      -fx-background-color: transparent;
}
